page-register {

    .background{
        background-image: url('../../assets/imgs/123@2x.png');
        background-size: cover;
    }

    .center{
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    
    }

}
