page-profile {

  .profile-image{

    width: 150px;
    height: 150px;
    padding: 5px;
    background-color: #fff;

  }
  .center{
    text-align: center;
  }
  .profile-name{
    text-align: center;
    font-size: 20px;
    color: #000;
  }

  .profile-email{
    text-align: center;
    font-size: 15px;
    color: rgb(93,93,93);
  }

  .profile-card{
    border: 10px 10px 10px 10px;
    padding: 5px;
  }

}
